html {
  background-color: #060A0A;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 60vw;
  padding-bottom: 100px;
  position: relative;
}

.title {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  color: whitesmoke;
}

.messageWraper {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
  width: 60vw;
  height: 200px;
  color: whitesmoke;
}

.input {
  width: 60vw;
  margin-top: 50px;
  height: 100px; 
  resize: none;
}

.submit {
  align-self: flex-end;
  margin-top: 50px;
  width: 80px;
  height: 40px;
}

.email {
   color: gray;
   position: absolute;
   bottom: 10px;
}